## Python / Django
__pycache__/
*.py[cod]
*.pyd
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

## Virtualenv
venv/
.venv/

## Django local
db.sqlite3
db.sqlite3-journal

## Secrets (FCM)
serviceAccountKey.json
*Firebase Admin SDK*.json

## Logs
*.log

## IDE
.DS_Store
.idea/
.vscode/
